body {
    background: rgb(241, 243, 240);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gutter-right {
    margin-right: 20px;
}

p {
    margin: var(--gutter);
    font-size: 30px;
}

#ninja-turtle {
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid orange 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkgray;
}

h1 {
    font-size: 5rem;
    color: rgb(107, 175, 4);
    font-weight: bold;
    font-family: 'Dela Gothic One', cursive;
    text-shadow: 5px 5px 5px black;
}

h2 {
    font-size: 2rem;
    font-family: 'Dela Gothic One', cursive;
    color:rgb(231, 69, 196);
}
button { 
    background: rgb(252, 179, 95);
    font-size: large;
    border-radius: 10px;
    box-shadow: 5px 5px darkgray;
}

button:hover {
    background: red;
    color: white;
    font-size: xx-large;
}

.lists {
    font-size: larger;
    font-family: 'Dela Gothic One', cursive;
    margin: 10px;
}

#Q1:hover {
color: red;
font-size: 30px;
text-shadow: 5px 5px 5px darkgray;
}

#Q2:hover {
    color: yellow;
    font-size: 30px;
    text-shadow: 5px 5px 5px darkgray;
}

#Q3:hover {
    color: purple;
    font-size: 30px;
    text-shadow: 5px 5px 5px darkgray;
}

#Q4:hover {
    color: green;
    font-size: 30px;
    text-shadow: 5px 5px 5px darkgray;
}


p {
    font-family: 'Dela Gothic One', cursive;
    color:rgb(77, 116, 20)
}

header {
    text-align: center;
    padding: 30px;
    background-image: url(https://st.depositphotos.com/2640119/3010/i/600/depositphotos_30103299-stock-photo-pepperoni-pizza.jpg);
    opacity: 70%;
    box-shadow: 5px 5px 5px darkgray;
    margin: 15px;
}


